*{
    margin: 0;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

.line{
    width: 0%;
    height: 1px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    z-index: 2;
}

.up{
    width: 100%;
    height: 50%;
    background-color: black;
    position: fixed;
    z-index: 1;
}

.down{
    width: 100%;
    height: 50%;
    background-color: black;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.header_main{
    position: relative;
}

.neko{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.neko img{
    width: 800px;
    animation: rotate 6s linear infinite;
}

@keyframes rotate {
    0%  {transform: rotate(0);}
    100%  {transform: rotate(360deg);}
}

.circle{
    position: absolute;
    width:70px;
    height:70px;
    border-radius:100%;
    background:rgb(112, 112, 112);
    transform-origin:right center;
    animation:2s ease infinite alternate rotation;
    left: 80px;
    top: 90px;

}

@keyframes rotation{
    0%{ transform:rotate(0);}
    100%{ transform:rotate(360deg); }
  }
